@tailwind base;
@tailwind components;
@tailwind utilities;

/* loading / error */
.loading-wrapper {
  @apply fixed left-0 top-0 h-screen w-full flex justify-center items-center bg-gray-600 opacity-30;
}

.loading-text {
  @apply text-white text-4xl font-semibold tracking-wider;
}
/* loading / error end */

/* aside */
aside {
  height: calc(100vh - 3.5rem);
}

.navbar-link {
  @apply flex items-center p-4 mb-2 text-base;
}

.navbar-link.active {
  @apply border rounded-lg shadow bg-blue-900 border-blue-900 text-blue-100;
}
/* aside end */

.article-btn {
  @apply h-8 w-8 flex items-center justify-center bg-blue-900 border-blue-900 text-blue-100 border rounded-lg shadow hover:bg-blue-800 focus:outline-none focus:border-blue-500;
}

/* loader */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  animation: spinner 1.5s linear infinite;
}
/* loader end */
